@import 'tailwindcss';
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #f6f5ff;
  --color-primary-100: #e9e6ff;
  --color-primary-200: #e4e1ff;
  --color-primary-300: #e0ddff;
  --color-primary-400: #b8afff;
  --color-primary-500: #9280ff;
  --color-primary-600: #6d4bff;
  --color-primary-700: #4a00e5;
  --color-primary-800: #2b008e;
  --color-primary-900: #100046;
}
